<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1" package="com.wyveth.quizzpokedex" android:installLocation="auto" android:versionCode="3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="31" />
	<application android:label="Quizz Pokédex" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
</manifest>